name: Test

on:
  push:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: build
        run: |
          cmake --version
          cmake -B build -DCMAKE_BUILD_TYPE=Debug -DCMAKE_EXPORT_COMPILE_COMMANDS=ON
          cmake --build build
      - name: test datastructure
        run: |
          ./build/datastructure/datastructure_test
      - name: test computer organization
        run: |
          ./build/computerOrganization/computerOrganization_test